# 1. Load CSV

In [8]:
import sys
sys.executable

import pandas as pd

df = pd.read_csv("../data/raw/schema_v0_export_host_linked.csv")

# 2. Head (first look)

In [ ]:
df.head()

,id,discipline,category,element_name,height,width,depth,area,volume,material,level
0,d3516a40-06bf-11d4-91b5-0000863f27ad-00000011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,d3516a40-06bf-11d4-91b5-0000863f27ad-00000013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,933c4a06-93b8-11d3-80f8-00c04f8efc32-00000014,NaN,NaN,<Solid fill>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,933c4a06-93b8-11d3-80f8-00c04f8efc32-00000015,NaN,NaN,Diagonal Up,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,933c4a06-93b8-11d3-80f8-00c04f8efc32-00000016,NaN,NaN,Diagonal Down,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 3. DataFrame info

In [ ]:
df.info()

# 4. Describe (numeric sanity check)

In [9]:
df.describe()

             height        width       depth          area        volume
count  24518.000000  9745.000000  336.000000  25611.000000  18010.000000
mean    2866.803609   140.989387  147.779241      3.752065      4.607691
std     5326.981113   292.682614  145.223038     37.388586     63.502215
min        0.000000     0.000000    0.000000      0.000000      0.000000
25%      287.368196    12.700000  101.600000      0.002743      0.000100
50%     1016.000000    50.800000  152.400000      0.025996      0.000854
75%     3173.767295   101.600000  168.275000      0.268387      0.012102
max    89903.447725  9004.300000  914.400000   1555.500811   3427.605085

# 5. Initial observations (markdown)

## Initial Observations

- Many elements have missing geometric attributes
- Symbolic and view-related elements are present
- Height/width populated mainly for structural categories
- Units appear consistent but not yet verified